* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.table.show-times {
    border-collapse: separate;
    border-spacing: 0 10px;
}

.table.show-times tr {
    border-radius: 10px;
    cursor: pointer;
}

.table.show-times tr:hover td,
.table.show-times tr:hover th {
    background-color: rgb(143, 8, 120);
    transition: 0.2s;
}

.table.show-times td:first-child,
.table.show-times th:first-child {
    border-radius: 10px 0 0 10px;
}

.table.show-times td:last-child,
.table.show-times th:last-child {
    border-radius: 0 10px 10px 0;
}

/* seats */

.seats-container {
    text-align: center;
}

/* seats */